// -- COLORS -- //
.blue{
	color: $blue;
}
.lightblue{
	color: $lightblue;
}
.darkblue{
	color: $darkblue;
}
.green{
	color: $green;
}
.orange{
	color: $orange;
}
.darkorange{
	color: $darkorange;
}
.gray{
	color: $gray;
}


// BAKGROUNDS COLORS //
.orange-bg{
	background-color: $orange;
}
.darkorange-bg{
	background-color: $darkorange;
}
.blue-bg{
	background-color: $blue;
}
.darkblue-bg{
	background-color: $darkblue;
}
.lightblue-bg{
	background-color: $lightblue;
}
.green-bg{
	background-color: $green;
}
.darkgreen-bg{
	background-color: $darkgreen;
}
.gray-bg{
	background-color: $gray;
}

.orange-transparency-bg{
	background-color: rgba(244,151,69, 0.53);
}
.blue-transparency-bg{
	background-color: rgba(62,105,178, 0.53);
}
.green-transparency-bg{
	background-color: rgba(127,197,121, 0.53);
}

