@font-face {
	font-family: 'ITCFranklinGothicBook';
	src: url('../fonts/ITCFranklinGothicStd-Book.eot');
	src: url('../fonts/ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff'),
		url('../fonts/ITCFranklinGothicStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ITCFranklinGothicDemi';
	src: url('../fonts/ITCFranklinGothicStd-Demi.eot');
	src: url('../fonts/ITCFranklinGothicStd-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCFranklinGothicStd-Demi.woff') format('woff'),
		url('../fonts/ITCFranklinGothicStd-Demi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ITCFranklinGothicCond';
	src: url('../fonts/ITCFranklinGothicStd-BkCd.eot');
	src: url('../fonts/ITCFranklinGothicStd-BkCd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCFranklinGothicStd-BkCd.woff') format('woff'),
		url('../fonts/ITCFranklinGothicStd-BkCd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ITCFranklinGothicHv';
	src: url('../fonts/ITCFranklinGothicStd-Hvy.eot');
	src: url('../fonts/ITCFranklinGothicStd-Hvy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCFranklinGothicStd-Hvy.woff') format('woff'),
		url('../fonts/ITCFranklinGothicStd-Hvy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
