// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// COLORS
$orange:		#f89a3e;
$darkorange:	#cc6a2f;


$blue:			#3e69b2;
$lightblue:		#1892d1;
$darkblue:		#335ca0;

$gray:			#6f777d;
$lightgray:		#cecece;
$white:			#ffffff;

$green:			#7fc579;
$darkgreen:		#53a04d;

$black:		#282828;

$hover_blue: rgba(24, 146, 209,0.92);
$hover_green: rgba(127, 197, 121,0.92);
$hover_orange: rgba(248, 154, 62,0.92);



// FONTS
$font_book: ITCFranklinGothicBook;
$font_demi: ITCFranklinGothicDemi;
$font_cond: ITCFranklinGothicCond;
$font_hv: ITCFranklinGothicHv;



