.searchdrop__results{
	max-height: 360px;
	transition: height 0.1s linear 0s;
	-webkit-transition: height 0.1s linear 0s;
}

.autocomplete-suggestion{
	border-bottom: 1px solid rgba(238, 236, 236, 0.15);
	color: #eeecec;
	font-size: 18px;
	line-height: 20px;
	font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 13px 0 13px 24px;
}

.autocomplete-suggestions { 
	width: 325px !important;
	border: none;
	background: transparent; 
	overflow: auto; 

}
//.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background-color: rgba(255, 255, 255, 0.12); }
.autocomplete-suggestions strong { font-weight: normal; color: #00a5dc; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-no-suggestion{
	color: #eeecec;
	font-size: 18px;
	line-height: 20px;
	font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 13px 0 13px 24px;
}